.card-information {
  padding: 0;
}

.storage {
  span {
    font-size: unset;
  }

  span:not(:last-child) {
    margin-right: 0.5em;
  }
}

.note {
  // border-bottom: 1px dashed;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

.info {
  padding-left: 0px;
}
